* {
    padding: 0px;
    margin: 0px;
}

:root{
    --sdbrwidth: 400px;
    --space: 40px;
}

body {
    display: flex;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    font-weight: 700;
}

aside{
    height: 100vh;
    width: var(--sdbrwidth);
    background: url(images/sidebar.jpg) center center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

aside div{
    height: 200px;
    width: 100%;
    background-color: hsla(0, 0%, 0%, 0.541);
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: calc(100vw - var(--sdbrwidth));
    height: 100vh;
}

section:first-child {
    display: flex;
    flex-direction: column;
    margin: 70px 0px 30px var(--space);
}

section:first-child p {
    font-size: 1.3rem;
    font-weight: 700;
    max-width: 650px;
}

form{
    box-shadow: 0px 1px 5px rgb(158, 158, 158);
    max-width: 100%;
    padding: 20px var(--space);;
}

form>div{
    display:flex;
    gap: var(--space);
    margin: 1rem 0px;
}

form>div>div {
    display: flex;
    flex-direction: column;
    width: 40%;
}

form input{
    appearance: none;
    border-radius: 5px;
    height: 1.6rem;
    border: 1px solid rgb(207, 207, 207);
    font-family: 'Nunito', sans-serif;
}

input:hover{
    background-color: rgb(248, 248, 248);
}

input:invalid{
    border-color: rgb(255, 110, 110);
}

input:focus, input:focus-visible{
    border: 1px solid blue;
}

.bottom {
    margin: 20px var(--space);
}

button{
    padding: 0.6rem 2rem;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: 700;
    
    border-radius: 8px;
    border: 0px;
    
    box-shadow: 1px 1px 5px rgb(87, 33, 23);

    color: white;
    background-color: rgb(187, 70, 50);

}

button:hover{
    background-color: rgb(243, 70, 39);
}
button:active{
    background-color: rgb(187, 70, 50);
}

a:link{
    color: rgb(187, 70, 50);
}
a:visited{
    color: rgb(128, 49, 35);
}