* {
    padding: 0px;
    margin: 0px;
}

:root{
    --sdbrwidth: 400px;
    --space: 40px;
    --focus-color: rgb(0, 166, 255);
}

body {
    display: flex;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    font-weight: 700;
}

aside{
    height: 100vh;
    width: var(--sdbrwidth);
    background: url(images/sidebar.jpg) center center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

aside div{
    height: 200px;
    width: 100%;
    background-color: hsla(0, 0%, 0%, 0.541);
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: calc(100vw - var(--sdbrwidth));
    height: 100vh;
}

section:first-child {
    display: flex;
    flex-direction: column;
    margin: 70px 0px 30px var(--space);
}

section:first-child p {
    font-size: 1.3rem;
    font-weight: 700;
    max-width: 650px;
}

form{
    box-shadow: 0px 1px 5px rgb(158, 158, 158);
    max-width: 100%;
    padding: 20px var(--space);;
}

form > div{
    margin-bottom: 1rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.input-wrapper{
    display: flex;
    flex-direction: column;
}

form input{
    font-family:inherit;
    font-size: 100%;
    width: 200px;
    height: 1.6rem;
    border-radius: 5px;
    border: 1px solid grey;
    transition: all 0.3s;
}



form input:hover{
    background-color: rgb(245, 245, 245);
    transition: 0s;
}

form input:valid{
    border-color: rgb(44, 219, 44);
}

form input:invalid{
    border-color: rgb(255, 61, 61);
}

form input:focus,
form input:focus-visible{
    transition: all 0.3s;
    outline: none;
    border-color: var(--focus-color);
    box-shadow: 0 0 3px var(--focus-color);
}

.bottom {
    margin: 20px var(--space);
}

button{
    padding: 0.6rem 2rem;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: 700;
    
    border-radius: 8px;
    border: 0px;
    
    box-shadow: 0 0 5px rgb(87, 33, 23);

    color: white;
    background-color: rgb(187, 70, 50);
    transition: all .2s;
}

button:hover{
    background-color: rgb(243, 70, 39);
}
button:active{
    background-color: rgb(187, 70, 50);
}

a:link{
    color: rgb(187, 70, 50);
}
a:visited{
    color: rgb(128, 49, 35);
}